{
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "gitlens.advanced.telemetry.enabled": false,
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "python.languageServer": "Microsoft",
    "javascript.updateImportsOnFileMove.enabled": "always",
    "[svelte]": {
        "editor.defaultFormatter": "svelte.svelte-vscode"
    },
    "[jsonc]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "python.dataScience.askForKernelRestart": false,
    "[css]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[xml]": {
        "editor.formatOnSave": false
    },
    "files.watcherExclude": {
        "**/.bloop": true,
        "**/.metals": true,
        "**/.ammonite": true
    },
    "files.exclude": {
        "**/.classpath": true,
        "**/.project": true,
        "**/.settings": true,
        "**/.factorypath": true
    },
    "python.dataScience.alwaysTrustNotebooks": true,
    "python.linting.pylintCategorySeverity.error": "Warning",
    "python.linting.mypyCategorySeverity.error": "Warning",
    "python.linting.mypyEnabled": true,
    "python.formatting.provider": "black",
    "editor.formatOnSave": true,
    "python.terminal.activateEnvInCurrentTerminal": true,
    "python.venvPath": "~/Library/Caches/pypoetry/virtualenvs",
    "editor.fontFamily": "JuliaMono, 'Courier New', monospace",
    "[html]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    }
}