[Desktop Entry]
Version=1.0
Type=Application
Name=Gitkraken
Comment=
Exec=/snap/bin/gitkraken
Icon=/home/rui/.local/share/icons/gitkraken.png
Path=
Terminal=false
StartupNotify=false
